<p>
  Greetings <b><%=fullname%></b>,
</p>
<p>
  Your account on <%=site%>. have been deleted.
</p>
<p>
  Please contact admin <%=site%> if you have any concern.
</p>
<p>
  Sincerely,
  <br />
  The <b>Listco</b> Team.
</p>